<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		

	<meta name="author" content="Rodrigo Perera" />
    <meta name="copyright" content="Rodrigo Perera" />
	<meta name="keywords" content="ong, ayuda, oportunidades, derecho, "/>
	<meta name="description" content="ONG X es una organización sin fines de lucro que tiene como objetivo desarrollar actividades educativas en barrios de contetxto critico."/> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/font-awesome.min.css" />	

    <!-- custom css -->
		<!-- custom css -->
	<link rel="stylesheet" href="../assets/css/base.css" />
	<link rel="stylesheet" href="../assets/css/nav.css" />

	<script src="../assets/js/jquery-3.1.0.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- custom js -->
	<script src="../assets/js/funciones.js"></script>
   	<title>Contacto</title>
  </head>
<body>
	<header class="header-area overlay otras-seccion">
	    <nav class="navbar navbar-expand-md navbar-dark">
			<div class="container">
				<a href="#" class="navbar-brand">ONG xxx</a>
				
				<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
					<span class="menu-icon-bar"></span>
					<span class="menu-icon-bar"></span>
					<span class="menu-icon-bar"></span>
				</button>
				
				<div id="main-nav" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li><a href="../index.html" class="nav-item nav-link">Home</a></li>
						<li><a href="./nosotros.html" class="nav-item nav-link">Nosotros</a></li>
						<li><a href="./servicios.html" class="nav-item nav-link">Servicios</a></li>
						<li><a href="./donar.html" class="nav-item nav-link">Donar</a></li>
						<li><a href="./contacto.html" class="nav-item nav-link">Contacto</a></li>

					</ul>
				</div>
			</div>
		</nav>
	
	</header>


	
		<section id="contacto " class="lightbg mt-5">
			
			<div class="container">
            
           
				<div class="col-xl-8 offset-xl-2 py-5">				
					
					 <div class="head_title text-center">
               	     <h2 class="titulo">fugit possimus temporibus commodi neque numquam ullam veritatis voluptates rem</h2>

					<form id="contact-form" method="post" action="#">

						<div class="messages"></div>

						<div class="controls">

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label for="form_name">Nombre</label>
										<input id="form_name" type="text" name="name" class="form-control" placeholder="Por favor ingrese su nombre." required="required" data-error="Este campo es obligatorio, por favor ingrese su nombre.">
									</div>
								</div>
								
							
							
								<div class="col-md-6">
									<div class="form-group">
										<label for="form_email">Correo electónico</label>
										<input id="form_email" type="email" name="email" class="form-control" placeholder="Por favor ingrese su correo electrónico." required="required" data-error="Un correo electrónico válido es necesario.">
	
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<label for="form_message">Mensaje</label>
										<textarea id="form_message" name="message" class="form-control" placeholder="Por favor ingrese su mensaje." rows="4" required="required" data-error="Este campo es obligatorio, por favor ingrese un mensaje"></textarea>
									</div>
								</div>
								<div class="col-md-12">
								   
									<input type="submit" class="btn btn-success" value="Enviar mensaje">
								</div>
							</div>
							
						</div>

					</form>

				</div>

			</div>
			 </div>
        </section>


	
	
	<footer class="pie">
		<div class="col-12 mt-5">
  		<p>© 2020 Copyright: ONG xxx
			<a href="#"><i class="fa fa-facebook  footer-icon "></i></a>
			<a href="#"><i class="fa fa-instagram footer-icon "></i></a>
		</p>
		</div>
	</footer>
	
</body>
</html>



	