<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		

	<meta name="author" content="Rodrigo Perera" />
    <meta name="copyright" content="Rodrigo Perera" />
	<meta name="keywords" content="ong, ayuda, oportunidades, derechos, educacion"/>
	<meta name="description" content="ONG X es una organización sin fines de lucro que tiene como objetivo desarrollar actividades educativas en barrios de contetxto critico."/>  

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/font-awesome.min.css" />	

    <!-- custom css -->
		<!-- custom css -->
	<link rel="stylesheet" href="../assets/css/base.css" />
	<link rel="stylesheet" href="../assets/css/nav.css" />

	<script src="../assets/js/jquery-3.1.0.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- custom js -->
	<script src="../assets/js/funciones.js"></script>
   	<title>Como donar</title>
  </head>
<body>
	<header class="header-area overlay otras-seccion">
	    <nav class="navbar navbar-expand-md navbar-dark">
			<div class="container">
				<a href="../index.html" class="navbar-brand">ONG x</a>
				
				<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
					<span class="menu-icon-bar"></span>
					<span class="menu-icon-bar"></span>
					<span class="menu-icon-bar"></span>
				</button>
				
				<div id="main-nav" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li><a href="../index.html" class="nav-item nav-link">Home</a></li>
						<li><a href="./nosotros.html" class="nav-item nav-link">Nosotros</a></li>
						<li><a href="./servicios.html" class="nav-item nav-link">Servicios</a></li>
						<li><a href="./donar.html" class="nav-item nav-link">Donar</a></li>
						<li><a href="./contacto.html" class="nav-item nav-link">Contacto</a></li>

					</ul>
				</div>
			</div>
		</nav>
	
	</header>

	<section id="como-donar"> 
		<div class="parallax"></div>

			
		<div class="container">
			<div class="row">	
				<div id="accordion " class="accordion m-4">
		            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
		                <a class="card-title">
		                    <i class="fa fa-credit-card mr-2"></i>tarjeta de crédito
		                </a>
		            </div>
		            <div id="collapseOne" class="card-body collapse show" data-parent="#accordion">
		                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
		                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
		                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		                </p>
		            </div>
		            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		                <a class="card-title">
		                  <i class="fa fa-phone mr-2"></i> Teléfono
		                </a>
		            </div>
		            <div id="collapseTwo" class="card-body collapse" data-parent="#accordion" >
		                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
		                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
		                    craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
		                </p>
		            </div>
		            <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		                <a class="card-title">
		                  <i class="fa fa-money mr-2"></i>Locales de cobranza
		                </a>
		            </div>
		            <div id="collapseThree" class="collapse" data-parent="#accordion" >
		                <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
		                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
		                </div>
		            </div>
		             <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
		                <a class="card-title">
		                  <i class="fa fa-exchange mr-2"></i>Transferencia
		                </a>
		            </div>
		            <div id="collapseThree" class="collapse" data-parent="#accordion" >
		                <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
		                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
		                </div>
		            </div>
		        </div>
			</div>
		

			<div class="row mt-5">
				<div class="col-12 m-3">
					<p class="titulo text-left">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid</p>
					<hr class="separador">
				</div>

				<div class="col-md-6 col-lg-3 ">
					<div class="donar-persona text-center">
						<img src="../assets/img/donantes/persona_1.jpg" alt="Image placeholder" class="img-fluid">
						<div class="donar-info">
							<h2>Mario Perez</h2>
							<span class="donar-fecha d-block mb-3">25/06/2020</span>

						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ">
					<div class="donar-persona text-center">
						<img src="../assets/img/donantes/persona_1.jpg" alt="Image placeholder" class="img-fluid">
						<div class="donar-info">
							<h2>Mario Perez</h2>
							<span class="donar-fecha d-block mb-3">25/06/2020</span>

						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 ">
					<div class="donar-persona text-center">
						<img src="../assets/img/donantes/persona_1.jpg" alt="Image placeholder" class="img-fluid">
						<div class="donar-info">
							<h2>Mario Perez</h2>
							<span class="donar-fecha d-block mb-3">25/06/2020</span>

						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
					<div class="donar-persona text-center">
						<img src="../assets/img/donantes/persona_1.jpg" alt="Image placeholder" class="img-fluid">
						<div class="donar-info">
							<h2>Mario Perez</h2>
							<span class="donar-fecha d-block mb-3">25/06/2020</span>

						</div>
					</div>
				</div>

			</div>	
		</div>
	</section>

	
	
	<footer class="pie">
		<div class="col-12 mt-5">
  		<p>© 2020 Copyright: ONG xxx
			<a href="#"><i class="fa fa-facebook  footer-icon "></i></a>
			<a href="#"><i class="fa fa-instagram footer-icon "></i></a>
		</p>
		</div>
	</footer>
	
</body>
</html>