<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		

	<meta name="author" content="Rodrigo Perera" />
    <meta name="copyright" content="Rodrigo Perera" />
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>  

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../assets/vendor/fontawesome/css/font-awesome.min.css" />	

    <!-- custom css -->
		<!-- custom css -->
	<link rel="stylesheet" href="../assets/css/base.css" />
	<link rel="stylesheet" href="../assets/css/nav.css" />

	<script src="../assets/js/jquery-3.1.0.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- custom js -->
	<script src="../assets/js/funciones.js"></script>
   	<title>Empresa</title>
  </head>
<body>
	<header class="header-area overlay otras-seccion">
	    <nav class="navbar navbar-expand-md navbar-dark">
			<div class="container">
				<a href="#" class="navbar-brand">ONG xxx</a>
				
				<button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
					<span class="menu-icon-bar"></span>
					<span class="menu-icon-bar"></span>
					<span class="menu-icon-bar"></span>
				</button>
				
				<div id="main-nav" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li><a href="../index.html" class="nav-item nav-link">Home</a></li>
						<li><a href="./nosotros.html" class="nav-item nav-link">Nosotros</a></li>
						<li><a href="./servicios.html" class="nav-item nav-link">Servicios</a></li>
						<li><a href="./donar.html" class="nav-item nav-link">Donar</a></li>
						<li><a href="./contacto.html" class="nav-item nav-link">Contacto</a></li>

					</ul>
				</div>
			</div>
		</nav>
	
	</header>

	<section id="nosotros-home"> 
		<div class="container mt-5 mb-5">
			
    	
			<div class="row ">
				
				<div class="col-md-6 ">
					<h2 class="nosotros-titulo">Acerca de ONG XXX</h2>
					<hr class="separador">
					<p class="nosotros-detalle mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi vitae vel ab provident, totam cumque voluptatum iste adipisci error, tempora repudiandae itaque aliquam temporibus aliquid nulla unde nisi nostrum. Ab!
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi vitae vel ab provident, totam cumque voluptatum iste adipisci error, tempora repudiandae itaque aliquam temporibus aliquid nulla unde nisi nostrum. Ab!
					</p>
				</div>
				<div class="col-md-6">
					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					  <ol class="carousel-indicators">
					    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
					  </ol>
					  <div class="carousel-inner nosotros-carousel" >
					    <div class="carousel-item active">
					      <img class="d-block w-100 rounded" src="../assets/img/carousel_nosotros_0.jpg" alt="Ong XXX - Nosotros-1">
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100 rounded" src="../assets/img/carousel_nosotros_1.jpg" alt="Ong XXX - Nosotros-2">
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100 rounded" src="../assets/img/carousel_nosotros_2.jpg" alt="Ong XXX - Nosotros-3">
					    </div>
					    <div class="carousel-item">
					      <img class="d-block w-100 rounded" src="../assets/img/carousel_nosotros_3.jpg" alt="Ong XXX - Nosotros-4">
					    </div>
					  </div>
					  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>

						
				</div>

			</div>
			<div class="row">
				<div class="col-md-12">
						<p class="nosotros-titulo">Misión</p>
				        <p class="nosotros-detalle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi vitae vel ab provident, totam cumque voluptatum initial-scalee adipisci error, tempora repudiandae itaque aliquam temporibus aliquid nulla unde nisi nostrum. Ab!</p>
				</div>

				<div class="col-md-12">
					<p class="nosotros-titulo">Vision</p>
				    <p class="nosotros-detalle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi vitae vel ab provident, totam cumque voluptatum initial-scalee adipisci error, tempora repudiandae itaque aliquam temporibus aliquid nulla unde nisi nostrum. Ab!</p>		
				</div>
			</div>
			<div class="row m-auto">
				<div class="col-md-4 nosotros-item  mx-auto">
					<p class="nosotros-item-detalle"><span>Transparencia</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aliquid quia.</p>
				</div>
				<div class="col-md-3 nosotros-item  mx-auto">
					<p class="nosotros-item-detalle"><span>Profesionalidad</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aliquid quia.</p>
				</div>
				<div class="col-md-4 nosotros-item  mx-auto">
					<p class="nosotros-item-detalle"><span>Sostenibilidad social y ambiental</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aliquid quia.</p>		
				</div>
				

			</div>
		</div>
	</section>

	
	

	<footer class="pie">
		<div class="col-12 mt-5">
  		<p>© 2020 Copyright: ONG xxx
			<a href="#"><i class="fa fa-facebook  footer-icon "></i></a>
			<a href="#"><i class="fa fa-instagram footer-icon "></i></a>
		</p>
		</div>
	</footer>
	
	
</body>
</html>